@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: fallback;
  src: url(http://localhost:8000/assets/fonts/open_sans.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: fallback;
  src: url(http://localhost:8000/assets/fonts/open_sans.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: fallback;
  src: url(http://localhost:8000/assets/fonts/open_sans.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-stretch: 100%;
  font-display: fallback;
  src: url(http://localhost:8000/assets/fonts/poppins.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Font Styles */
address,
blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  border: 0;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

body {
  font-size: 15px;
  color: #22323d;
}

h1 {
  line-height: 1.4em;
  font-size: 48px;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
  line-height: 1.3em;
  font-size: 45px;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
  margin-block-start: 0;
  margin-block-end: 20px;
}

h3 {
  line-height: 1.3em;
  font-size: 2.4666666666667rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

h4 {
  line-height: 1.2em;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

h5 {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  margin-block-start: 0em;
  margin-block-end: 0em;
  line-height: 1.2em;
}

h6 {
  line-height: 1.25em;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

h5.heading {
  line-height: 1.4em;
}

h2.text-heading {
  line-height: 1.3em;
  font-size: 22px;
}

p {
  font-size: 15px;
  margin-block-start: 0;
  margin-bottom: 0.5em;
  font-weight: 400;
}

.text-16,
.text-16 > p {
  font-size: 16px;
}

h2.text-35 {
  font-size: 35px;
}

h2.text-40 {
  font-size: 40px;
}

p.text-20 {
  font-size: 20px;
}

h2.text-28 {
  font-size: 28px;
  line-height: 1.3em;
}

h2.text-29 {
  font-size: 29px;
  line-height: 1.3em;
  font-weight: 900;
  color: #000000;
}

h3.text-22 {
  color: #000000;
  font-size: 22px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  line-height: 1.3em;
}

h3.text-22 a {
  color: #000000;
  font-size: 22px;
}

h2.text-25,
h4.text-25 {
  color: #000000;
  font-size: 25px;
  font-weight: 900;
}

h4.text-55 {
  color: #000000;
  font-size: 55px;
  font-weight: 600;
}

h5.text-30 {
  font-size: 30px;
}

a {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

* {
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

ul {
  list-style: disc;
}

ul.nvqs {
  list-style: none;
  position: relative;
  margin-left: 2.5em;
  padding-left: 0;
}

ul.nvqs li {
  position: relative;
}

ul.nvqs li ul li::before {
  content: none;
}

ul.nvqs li.ul {
  list-style: disc;
}

ul.nvqs li::before {
  content: '';
  display: inline-block;
  margin-right: 10px;
  /* Height of the list image*/
  height: 15px;
  /* Width of the list image*/
  width: 15px;
  position: absolute;
  left: -22px;
  top: 6px;
  background-image: url('/assets/img/dot-circle.svg');
}

ul.nvqs li.download::before {
  background-image: url('/assets/img/download.svg');
}

ul {
  margin: 0 0 1.5em 3em;
}

li > ol,
li > ul {
  margin-bottom: 0;
  margin-left: 1.5em;
}

/* Colours */

.blue-red {
  background-color: transparent;
  background-image: linear-gradient(220deg, #007991 50%, #f2295b 200%);
}

.text-blue {
  color: #294096;
}

.bg-yellow {
  background-color: #ffab5e;
}

.text-white {
  color: #ffffff;
}

.text-grey {
  color: #4c4c4c;
}

.text-green {
  color: #007991;
}

.border-black {
  border-color: #000000;
}

.border-blue {
  border-color: #294096;
}

/* Global */

.screen-only {
  display: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
  max-width: 100%;
  padding: 0;
  margin: 0;
  line-height: 1.85714285714286;
}

.container .flex-container {
  max-width: 1140px;
}

.container .title-padding {
  padding-top: 50px;
}

.container.section-padding {
  padding: 45px 30px 50px 30px;
}

.flex-container h3 {
  line-height: 1.3em;
  font-size: 37px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.inline-flex {
  display: inline-flex;
}

.inline-flex span {
  padding-inline-end: 5px;
}

.container.text {
  border-style: solid;
  border-width: 0px 0px 0px 2px;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

/* Header */
.menu-header {
  position: relative;
  background-color: #23b7ff;
  background-image: url('/assets/img/Homepage-Header-Image.jpeg');
  background-position: -2px -198px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px 0px 150px 0px;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 45px 30px 200px 30px;
}

.menu-header img {
  width: 100%;
}

#menu {
  display: block;
  position: absolute;
  z-index: 99;
  background: none;
  top: 0;
  left: 0;
  right: 0;
}

.mobile-nav-menu {
  display: none;
  justify-content: flex-start;
  margin: 0;
  width: 100%;
  color: #676767;
  background-color: #f9f9f9;
}

#menu.open .mobile-nav-menu {
  display: flex;
}

.mobile-nav-menu ul {
  margin: 0;
  width: 100%;
  line-height: 3;
}

.mobile-nav-menu ul li {
  display: flex;
  flex-direction: column;
  position: relative;
}

.mobile-nav-menu ul li a {
  font-size: 13.68px;
  color: #676767;
  padding: 0 20px;
  display: inline-block;
  width: 100%;
  border: 0;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #dddddd;
}

.header-overlay {
  border-radius: 0px 0px 150px 0px;
  filter: brightness(100%) contrast(100%) saturate(100%) blur(0px)
    hue-rotate(0deg);
  background-color: transparent;
  background-image: linear-gradient(290deg, #007991 50%, #2e4a66 100%);
  opacity: 0.87;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.header-wrapper {
  max-width: 1140px;
}

.header-content {
  align-content: center;
  align-items: center;
  margin: 5% 45% 0% 0%;
}

.header-content img {
  width: 100%;
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.screen-reader-text {
  display: none;
}

.mobile-menu {
  display: none;
}

.nav-menu {
  display: flex;
}

.nav-menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-right: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu ul li {
  font-size: medium;
  transition: all 0.2s linear;
}

.nav-menu ul li:not(:last-child) {
  margin-right: 16px;
}

.nav-menu ul li a {
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
}

.nav-menu ul li:hover {
  transform: scale(0.8);
}

/* Footer */

footer {
  width: 100%;
  font-size: 15px;
}

.footer-wrapper {
  background-color: transparent;
  background-image: linear-gradient(220deg, #007991 50%, #f2295b 200%);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 203px;
  margin-bottom: 0px;
  padding: 35px 35px 75px 35px;
}

.footer-container {
  max-width: 1600px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

footer .widget {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul a {
  padding: 9px 15px;
  line-height: 1;
  display: flex;
  display: -webkit-box;
  line-height: 1;
}

footer ul a:hover {
  color: #eeae49;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer .widget-one {
  padding: 6px 10px;
}

footer .widget-one .copyright p {
  color: #ffffff;
  margin-bottom: 0px;
  margin: 0;
  padding: 0px 15px;
  line-height: 1;
}

footer .widget-one .copyright p {
  margin-block-start: 0;
  margin-block-end: 0;
}

footer .widget-one .copyright p:last-child {
  padding-top: 5px;
}

footer .widget-one .linked-in {
  margin-top: 10px;
  color: #ffffff;
  transition: color 0.3s;
}

footer .widget-one .linked-in span:last-child {
  padding-inline-start: 10px;
}

footer .widget-one .linked-in a {
  display: flex;
  align-items: center;
}

footer .widget-one svg {
  fill: #ffffff;
  width: 14px;
}

footer .widget-two .logo svg {
  width: 300px;
  height: auto;
  margin-top: 10px;
}

footer .widget-two .address p {
  text-align: left;
  width: 261px;
  max-width: 261px;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.2em;
}

footer .widget-three {
  padding: 10px;
}

footer .widget-three {
  font-size: 16px;
}

footer .widget-three li {
  line-height: 1;
}

footer .widget-three a {
  display: flex;
  align-items: center;
  padding: 6px 0px;
  font-size: 16px;
}

footer .widget-three .contact svg {
  width: 24px;
  padding-right: 9px;
  padding-top: 2px;
}

footer .widget-three .socials span {
  display: none;
}

footer .widget-three .socials {
  display: flex;
  margin-top: 4px;
  gap: 5px;
}

footer .widget-three .socials a {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  justify-content: center;
}

footer .widget-three svg {
  fill: #ffffff;
  width: 18px;
}

footer .widget-three .socials a svg {
  font-size: 18px;
}

footer .widget-three .socials .facebook {
  background-color: #3b5998;
}

footer .widget-three .socials .linked-in {
  background-color: #0077b5;
}

footer .widget-three .socials .twitter {
  background-color: #1da1f3;
}

footer .widget-three .socials .email {
  background-color: #ea4436;
}

/* Cards */
.card {
  display: flex;
  flex-direction: column;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 10px 0px 10px;
  padding: 75px 50px 65px 50px;
  border-radius: 10px 10px 10px 10px;
  width: 100%;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.card.shadow {
  box-shadow: 0px 30px 50px -20px rgba(0, 0, 0, 0.73);
}

.card.medium-shadow {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.card.light-shadow {
  box-shadow: 0px 20px 50px -10px rgba(0, 0, 0, 0.25);
}

.service-card {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.09);
  margin: 0px 5px 0px 5px;
  padding: 35px 35px 35px 35px;
}

.service-card:hover {
  box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.29);
}

.service-card {
  padding: 35px 35px 35px 35px;
}

.service-card figure {
  width: 15%;
}

.service-card img {
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.service-card img:hover {
  transition-duration: 0.3s;
  transform: scale(1.1);
}

.service-card p {
  color: #bfbfbf;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7em;
  padding: 0;
  margin: 0;
}

.list-items {
  padding: 0;
  margin: 0;
}

.list-item a,
.list-item {
  display: flex;
  font-size: 15px;
  align-items: center;
  text-align: left;
}

.list-item a {
  font-size: 20px;
  width: 100%;
}

.list-item span.list-text {
  padding-inline-start: 10px;
}

/* Icons */
.container .flex-container .icon {
  display: flex;
  align-items: center;
}

.icon.blue {
  fill: #007991;
}

.icon.white {
  fill: #ffffff;
}

.icon.yellow {
  fill: #ffab5e;
}

.container .flex-container .nvqs.icon {
  border-radius: 50%;
  padding: 25px;
  border: 3px solid #69727d;
  background-color: transparent;
  border-color: #007991;
}

.container .flex-container .nvqs.icon.img {
  border-radius: 0;
  padding: 0px;
  border: 0px;
  width: 105px;
  background-color: transparent;
  border-color: #007991;
}

.container .flex-container .nvqs img {
  width: 105px;
}

.container .flex-container .nvqs.icon svg {
  width: 49px;
  height: 49px;
}

.container.why-choose .flex-container .icon svg {
  position: absolute;
  width: 18px;
  height: 18px;
}

.container .list-item span.list-text {
  padding-inline-start: 8px;
}

.container .flex-container .icon {
  position: relative;
}

.container .flex-container .icon svg {
  position: relative;
  width: 14px;
  height: 14px;
}

.list-text {
  transition: color 0.3s;
}

.list-text:hover {
  color: #eeae49;
}

/* Buttons */

.button {
  color: #ffffff;
  font-size: 14px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 30px;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  border-color: #ff9533;
  background-color: #ff9533;
}

/* Toggle */
.toggle .toggle-item.shadow {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
}

.toggle .tab-title {
  border-width: 0px;
  border-color: rgba(0, 0, 0, 0.1);
  font-weight: 700;
  line-height: 1;
  margin: 0;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle .active .tab-content.border,
.toggle .tab-title.border {
  border-width: 1px;
  border-color: #e5e5e5;
  border-bottom: 1px solid #d5d8dc;
  transition: all 0.5s;
}

.toggle .tab-title.bold a {
  font-size: 20px;
  font-weight: bold;
}

.toggle .tab-title a {
  font-size: 15px;
  color: #000000;
}

.toggle .icon-closed {
  display: block;
  position: absolute;
  right: 1px;
  width: 7px;
}

.toggle .icon-opened {
  display: block;
  width: 12px;
}

.toggle .tab-icon {
  position: relative;
  transition: all 0.5s;
}

.hidden {
  visibility: hidden;
}

.toggle .tab-content {
  height: 0px;
  overflow: hidden;
  transition: all 0.5s;
}

.toggle .tab-content {
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6em;
}

.active .tab-title.border {
  border: none;
  transition: all 0.5s;
}

.active .tab-title a {
  color: #eeae49;
}

/* Page Specific */

.home .container.why-choose .icon {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50px;
  padding: 9px;
  margin-right: 15px;
  margin-left: 0;
  margin-bottom: unset;
  transition: all 1s;
}

.home .container.why-choose .icon:hover {
  background-color: #007991;
  fill: #69727d;
}

.nvqs .list-item a {
  font-size: 15px;
}

.head-shot img {
  max-width: 100%;
  height: auto;
}

.employee .card {
  margin: 0px 0px 10px 0px;
}

.course-delivery .card,
.contact .card {
  margin: 0px;
}

.cdm-consultancy .text-16 p,
.fire-safety-consultancy .text-16 p,
.health-safety-consultancy .text-16 p,
.course-delivery .text-16 {
  font-size: 16px;
  text-align: left;
  color: #000000;
  font-weight: 300;
  line-height: 1.7em;
}

.course-delivery .flex-container .card {
  padding: 0% 12% 0% 12%;
}

.course-icon {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
}

.contact .list-item a {
  font-size: 15px;
}

.social-icons-wrapper {
  display: inline-grid;
  grid-auto-flow: column;
  gap: 25px;
}

/* Form */
.form-group {
  display: block;
  width: 100%;
  padding: 10px 0px;
  position: relative;
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='reset'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
select,
textarea {
  display: block;
  width: 100%;
  color: #666;
  padding: 11.25px;
  height: 45px;
  background: #fafafa;
  box-shadow: none;
  box-sizing: border-box;
  transition: all 0.2s linear;
  border: 1px solid #dddddd;
}

.error textarea,
.error input {
    border: 1px solid #cc0000;
}

.error-text {
  display: none;
  color: #990000;
  font-size: 12.312px;
  font-weight: 400;
  line-height: 22.8651px;
}

.error .error-text {
  display: block;
}

.form-message {
  background-color: #fafafa;
  padding: 10px;
  border: #000 solid 1px;
  border-radius: 0px;
  margin: 10px 0;
}

.form-message p {
  margin: 0;
}

.form-success,
.form-failed {
  display: none;
}

.form-message.form-failed {
  border: #cc0000 solid 1px;
}

.form-failed.show,
.form-success.show {
  display: block;
}

textarea::placeholder,
input::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #666;
}

textarea {
  height: 120px;
}

button {
  font-family: 'Open Sans', sans-serif;
}

.form-group label {
  position: absolute;
  top: -99999px;
  left: -99999px;
}

input:focus,
input[type='text']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='password']:focus,
input[type='reset']:focus,
input[type='search']:focus,
input[type='number']:focus,
textarea:focus {
  border-style: dotted;
  border-color: inherit;
  border-width: thin;
}

input[type='email']:focus,
input[type='password']:focus,
input[type='reset']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
select:focus,
textarea:focus {
  background-color: #fff;
  border-color: #dddddd;
  box-shadow: none;
}

:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

/* Price Table */

.price-table {
  text-align: center;
  overflow: hidden;
  background-color: #f9fafa;
}

.price-table__header {
  padding: 20px 0px;
  background-color: #007991;
}

.price-table__heading {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.price-table__subheading {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}

.price-table__price {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  color: #555;
  font-weight: 800;
  padding: 40px 0;
  font-size: 65px;
}

.price-table__integer-part {
  line-height: 0.8;
}

.price-table .price-table__currency {
  display: flex;
  align-self: flex-start;
  line-height: 1;
  font-size: 0.3em;
}

.price-table__features-list {
  font-size: 14px;
  line-height: 1;
}

ul.price-table__features-list {
  list-style: none;
  margin: 0;
}

.container .flex-container .price-table .icon svg {
  position: relative;
  width: 18px;
  height: 18px;
}

ul.price-table__features-list li .price-table__feature-inner {
  display: flex;
  justify-content: center;
}

.price-table__feature-inner .icon {
  margin-right: 15px;
}

.price-table__features-list li:not(:first-child)::before {
  content: '';
  display: block;
  border: 0 solid hsla(0, 0%, 47.8%, 0.3);
  margin: 10px 12.5%;
}

.price-table .price-table__features-list li::before {
  border-top-style: solid;
  border-top-color: #ddd;
  border-top-width: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.price-table__feature-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-table__footer {
  padding: 30px 0;
}

.price-table__additional_info {
  margin: 15px 30px 0px 30px;
  font-size: 13px;
  line-height: 1.4;
}

.price-table__ribbon.elementor-ribbon-left {
  transform: rotate(0);
  left: 0;
  right: auto;
}

.price-table__ribbon {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(0deg);
  width: 150px;
  overflow: hidden;
  height: 150px;
}

.price-table__ribbon-inner {
  color: #ffffff;
  text-align: center;
  left: 0;
  width: 200%;
  transform: translateY(-50%) translateX(-50%) translateX(35px) rotate(-45deg);
  margin-top: 35px;
  font-size: 13px;
  line-height: 2;
  font-weight: 800;
  text-transform: uppercase;
  background: #000;
}

/* Helpers */

a {
  transition: color 0.3s;
  color: #007991;
}

.text-white a {
  color: #ffffff;
}

.text-black a {
  color: #000000;
}

a:hover {
  color: #eeae49;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex {
  display: flex;
}

.flex-container {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.relative {
  position: relative;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-130 {
  padding-top: 130px;
}

.pr-4 {
  padding-right: 4px;
}

.pr-5 {
  padding-right: 5px;
}

.pr-20 {
  padding-right: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.pb-6 {
  padding-bottom: 6px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-50 {
  padding-left: 50px;
}

.pr-50 {
  padding-right: 50px;
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-6 {
  margin-top: 6px;
}

.mt-7 {
  margin-top: 7px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}
.mt-110 {
  margin-top: 110px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-50 {
  margin-right: 50px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-50 {
  margin-left: 50px;
}

.mr-quarter {
  margin: 0% 25% 0% 0%;
}

.p-1 {
  padding: 1px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.p-30 {
  padding: 30px;
}

.p-50 {
  padding: 50px;
}

.width-100 {
  width: 100%;
}

.width-66 {
  width: 66.666%;
}

.width-50 {
  width: 50%;
}

.width-26 {
  width: 26.579%;
}

.width-33 {
  width: 33.333%;
}

.width-34 {
  width: 34.998%;
}

.width-36 {
  width: 36.825%;
}

.width-43 {
  width: 43.996%;
}

.width-44 {
  width: 44.382%;
}

.width-55 {
  width: 55.227%;
}

.width-56 {
  width: 55.613%;
}

.width-63 {
  width: 63.175%;
}

.width-64 {
  width: 64.611%;
}

.width-73 {
  width: 73.421%;
}

.column {
  flex-direction: column;
}

.italic {
  font-style: italic;
}

.block {
  display: block;
}

.animate {
  opacity: 0;
}

.animate.fadeIn {
  opacity: 1;
  transition: opacity 2s;
}

@media (min-width: 768px) {
  .widget-one {
    width: 42.744%;
  }

  .widget-two {
    width: 38.902%;
  }

  .widget-three {
    width: 18%;
  }

  .header-content {
    width: 100%;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
}

@media (min-width: 1025px) {
  .menu-header {
    background-attachment: fixed;
  }
}

@media (max-width: 1024px) {
  .container .flex-container {
    max-width: 1024px;
  }
  .container.cdm-services,
  .container.health-safety,
  .container.fire-safety {
    padding: 0px 25px 0px 25px;
  }
  .container.cdm-cta,
  .container.health-cta,
  .container.fire-safety-consultancy {
    padding: 100px 25px 100px 25px;
  }
  .container.pt-130,
  .container.mt-30.mb-40,
  .container.py-100 {
    padding: 50px 50px 50px 50px;
  }
  footer .footer-wrapper {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 40px 20px 40px 20px;
  }
  footer .widget-three a {
    font-size: 12px;
    padding: 3px 0px;
  }
  .widget-one nav {
    display: none;
  }
  footer .widget-three .socials a {
    width: 22px;
    height: 22px;
  }
  footer .widget-three svg {
    width: 11px;
  }
  .card {
    margin: 0px 5px 0px 5px;
    padding: 40px 20px 40px 20px;
  }
  .nav-wrapper {
    display: none;
  }
  .menu-header {
    background-position: center center;
    padding: 150px 80px 80px 50px;
    width: 100%;
  }
  .header-content {
    margin: 0;
  }
  .container .flex-container {
    max-width: 1024px;
  }
  .card.p-50 {
    /* margin: 0px 0px 0px 15px; */
    padding: 30px 30px 30px 30px;
  }
  .mr-quarter {
    margin: 0px 15px 0px 0px;
  }
  .about-us .container.mt-30.mb-40 {
    margin: 0;
    padding: 0;
  }
  .about-us .width-63,
  .about-us .width-36 {
    width: 50%;
  }
  .container .flex-container .nvqs.icon svg {
    width: 35px;
    height: 35px;
  }
  .container .flex-container .nvqs.icon {
    padding: 17.5px;
    margin-right: 17px;
  }
  .nvqs-page .flex-container.width-50.p-30 {
    padding: 22px;
  }
}

@media (max-width: 921px) {
  .mobile-menu {
    display: flex;
    min-height: 70px;
    line-height: 3;
    margin-left: auto;
    margin-right: auto;
  }
  .menu-grid {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    grid-column-gap: 20px;
    overflow-wrap: anywhere;
  }
  .menu-grid .right {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    height: 100%;
    min-height: 0;
    align-items: center;
  }
  .menu-grid .menu-button {
    padding-right: 0;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .menu-grid .menu-button:hover {
    cursor: pointer;
  }
  .menu-grid .menu-block {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    background: #ffab5e;
    color: #ffffff;
    padding: 0.5em;
  }
  .menu-grid .mobile-svg {
    padding: 2px;
  }
  .menu-grid .mobile-svg.close-svg {
    display: none;
  }
  #menu.open .menu-grid .mobile-svg.close-svg {
    display: block;
  }
  #menu.open .menu-grid .mobile-svg.menu-svg {
    display: none;
  }
  h2 {
    font-size: 32px;
  }
  h5 {
    font-size: 16.416px;
  }
  .flex-container h3 {
    font-size: 25px;
  }
  .card-title a {
    font-size: 25px;
  }
  .tablet-45 {
    width: 45%;
  }
  .tablet-45.pr-50 {
    padding-right: 0px;
  }
  .tablet-55 {
    width: 55%;
  }
  .text-16 > p,
  .tablet-text-13 p {
    font-size: 13.68px;
  }
  .home .title-padding {
    padding: 100px 100px 100px 100px;
  }
  .home .section-padding {
    padding: 50px 50px 25px 50px;
  }
}

@media (max-width: 767px) {
  .widget {
    width: 100%;
  }
  footer .footer-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px 30px 30px 30px;
  }
  .container .flex-container {
    max-width: 767px;
    flex-wrap: wrap;
    flex-flow: column;
  }
  .flex-container {
    flex-flow: column;
  }
  .flex-container.width-50 {
    width: 100%;
  }
  .container .flex-container .nvqs.icon {
    max-width: fit-content;
  }
  .nvqs-page > section.container.pt-35 > div {
    padding: 10px;
  }
  .nvqs li,
  p {
    font-size: 13.68px;
  }
  .nvqs-page h2.text-grey {
    font-size: 26px;
    text-align: center;
  }
  .nvqs-page > section.container.pb-70 {
    padding: 40px 10px 40px 10px;
  }
  .container .flex-container .nvqs.icon svg {
    width: 28px;
    height: 28px;
  }
  .container .flex-container .nvqs.icon {
    padding: 14px;
  }
  .nvqs-page .flex-container.width-100.mt-30 .mt-5.p-10.ml-40 {
    text-align: center;
    margin-left: 0px;
  }
  .menu-header {
    border-radius: 0px 0px 75px 0px;
    padding: 100px 30px 60px 25px;
  }
  .header-overlay {
    border-radius: 0px 0px 75px 0px;
  }
  .title h1 {
    font-size: 32px;
  }
  .home .title-padding {
    text-align: center;
    padding: 60px 30px 0px 30px;
  }
  .about-us .width-63,
  .about-us .width-36,
  .width-56,
  .width-43,
  .width-26,
  .width-33,
  .width-44,
  .width-66,
  .width-55,
  .tablet-55,
  .tablet-45,
  .width-73,
  .width-34,
  .width-64,
  .width-50 {
    width: 100%;
  }
  .width-55.pl-50,
  .width-43.pl-20,
  .width-64.pl-50,
  .width-66.pl-50 {
    padding: 0;
  }
  .width-33 .mr-50 {
    margin: 0;
  }
  .width-66 .ml-50 {
    margin: 0;
  }
  .width-63.pl-40.pr-20 {
    padding: 0px 0px 0px 20px;
  }
  .flex-container h3 {
    font-size: 20px;
  }
  .home .section-padding {
    padding: 50px 30px 10px 30px;
  }
  .container.text {
    border-width: 0px 0px 0px 0px;
    margin: 20px 0px 0px 0px;
  }
  .home .container.text {
    padding: 0px 0px 0px 20px;
  }
  .about-us .text-16 > p {
    font-size: 16px;
  }
  .cdm-consultancy .text-16 p,
  .fire-safety-consultancy .text-16 p,
  .health-safety-consultancy .text-16 p,
  .course-delivery .text-16 {
    font-size: 14px;
    padding: 0px 0px 0px 15px;
  }
  .text-16,
  .text-16 > p {
    font-size: 12px;
  }
  .card-title a {
    font-size: 20px;
  }
  .list-item a {
    font-size: 18px;
  }
  .card {
    margin: 30px 0px 30px 0px;
    padding: 30px 30px 30px 30px;
  }
  .container.pt-130,
  .container.mt-30.mb-40,
  .container.py-100 {
    padding: 50px 30px 30px 30px;
  }
  h2 {
    font-size: 26px;
  }
  .why-choose .tablet-45 {
    padding-bottom: 20px;
  }
  .why-choose .tablet-55 {
    padding: 0;
    padding-bottom: 20px;
  }
  .why-choose .tablet-55 .flex {
    flex-flow: column;
    margin-bottom: 20px;
  }
  h5 {
    font-size: 14.592px;
    margin-top: 5px;
  }
  .flex-container h3 {
    font-size: 20px;
  }
  .more-info {
    margin: 30px 10px 30px 10px;
  }
  .nvqs .list-item a,
  .more-info .list-item {
    font-size: 13px;
  }
  .more-info .mb-10 {
    margin-bottom: 5px;
  }
  .pt-130 {
    padding-top: 0px;
  }
  .toggle .tab-title a {
    font-size: 14px;
  }
  .contact .flex-container.keep-in-touch {
    flex-flow: row;
    padding-bottom: 50px;
  }
  h4 {
    font-size: 16.416px;
  }
  .employee .head-shot {
    display: flex;
    justify-content: center;
  }
  .fire-safety .flex-container.p-20 {
    padding: 0;
    margin-bottom: 70px;
  }
  .fire-safety .flex-container.pl-20.pr-20.pb-20 {
    padding: 0;
  }
  .container.cdm-services,
  .container.health-safety,
  .container.fire-safety {
    padding: 50px 20px 50px 20px;
  }
  .flex.cards {
    flex-flow: column;
  }
  .service-card {
    margin: 25px 0px 0px 0px;
    padding: 35px 35px 35px 35px;
  }
  .service-card figure {
    width: 25%;
    margin-bottom: 25px;
  }
  .service-card .description {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
  }
  .health-cta .text-16 p {
    font-size: 16px;
    padding: 0;
  }
  .container.cdm-cta,
  .container.health-cta,
  .container.fire-safety-consultancy {
    padding: 50px 20px 50px 20px;
  }
}
